/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --background-sections: #ececec;
    --main-transition: .3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
@media (max-width: 767px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: auto;
        padding-right: auto;
    }
} 
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    width: fit-content;
    font-size: 30px;
    z-index: 1;
    transition: var(--main-transition);
    position:  relative;
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before {
    animation: left-move .5s linear forwards;
}
.main-title:hover::after {
    animation: right-move .5s linear forwards;
}
.main-title:hover {
    color: white;
    border-color: white ;
    transition-delay: .5s;
}
/* End Global Rules */
/* Start Header */

.header {
    background-color: white;
    -moz-box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li:hover .megamenu {
    opacity: 1;
    z-index: 100;
    top: calc( 100% + 1px);
}
.header .main-nav > li > a {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: black;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}
@media (max-width: 767px) {
    .header .main-nav > li > a {
    padding: 10px;
    height: 50px;
    font-size: 14px;
    }
}
.header .main-nav > li > a::before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
}
.header .main-nav > li > a:hover::before {
    left: 0; 
}
.header .megamenu {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    padding: 30px;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    transition: top var(--main-transition), opacity var(--main-transition);
    opacity: 0;
}
@media (max-width: 767px) {
    .header .megamenu {
        flex-direction: column;
        padding: 5px;
        gap: 0;
    }
}
.header .megamenu .image img {
    max-width: 100%;

}
@media (max-width: 991px) {
    .header .megamenu .image {
        display: none;
    }
}
.header .megamenu .links {
    min-width: 250px;
    flex: 1;
}
.header .megamenu .links li {
    position: relative;
}
.header .megamenu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
    .header .megamenu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .megamenu .links li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}
.header .megamenu .links li:hover::before {
    width: 100%;
    color: red;
}
.header .megamenu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.header .megamenu .links li a i {
    margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 123px;
}
.landing .text {
    flex: 1;
}
@media (max-width: 992px) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}
.landing .text p {
    font-size: 23px;
    margin: 10px 0 0;
    color: #444499c9;
    line-height: 1.7;
    max-width: 500px;
}
@media (max-width: 992px) {
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}
.landing .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s  linear  infinite ;
}
@media (max-width: 992px) {
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
.landing .go-down i {
    font-size: 30px;
    animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow:  0 2px 15px rgb(0 0 0 / 50%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
}
.articles .box .content h3 {
    margin: 0;
}
.articles .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777
}
.articles .box .info {
    padding: 20px;
    border-top: 1px solid #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articles .box .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articles .box .info i {
    color: var(--main-color);
    
}
.articles .box:hover .info i {
    animation: move-x .6s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--background-sections);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .image {
    position: relative;
    overflow: hidden;
}
.gallery .container .image::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.432);
    opacity: 0;
    z-index: 2;
}
.gallery .container .image:hover::before{
    animation: flashing .7s;
}
.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 40px;
}
.features .container .box {
    text-align: center;
    border: 1px solid #ccc;
}
.features .box .img-holder {
    position: relative;
    overflow: hidden;
}
.features .box .img-holder::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%; 
}
.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}
.features .box .img-holder img {
    max-width: 100%;
}
.features .box:hover .img-holder::after {
    border-width: 170px 500px 170px 0;
}
.features .box h2 {
    font-size: 40px;
    margin: auto;
    width: fit-content;
    position: relative;
}
.features .box h2::after {
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% - 30px);
    bottom: -20px;
    left: 15px;
}
.features .box p {
    line-height: 2;
    margin: 30px 0;
    font-size: 20px;
    padding: 25px;
    color: #777;
}
.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: var(--main-transition);
}
.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 50%);
}
.features .quality h2::after{
    background-color: #f44036;
}
.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .time .img-holder::before {
    background-color:rgb(0 150 136 / 50%);
}
.features .time h2::after{
    background-color: #009688;
}
.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .passion .img-holder::before {
    background-color: rgb(3 169 244 / 50%);;
}
.features .passion h2::after{
    background-color: #03a9f4;
}
.features .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient(to right, #03a9f4 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.features .box:hover a {
    background-position: left bottom;
    color: white;
}
/* End features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--background-sections);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}
.testimonials .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    right: -10px;
    top: -50px;
    border-radius: 50%;
    border: 10px solid var(--background-sections);
}
.testimonials .box h3 {
    margin: 0 0 10px;
}
.testimonials .box .title {
    color: #777;
    margin: 0 0 10px;
    display: block;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #666;
}
/* End Testimonials */
/* Start Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team .box {
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #ececec;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
@media (max-width: 767px){
    .team .box::before {
        width: calc(111% - 60px);
    }
}
.team .box::after {
    background-color: #e4e4e4;
    width: 0;
    z-index: -1;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
@media (max-width: 767px){
    .team .box:hover::after {
        width: calc(111% - 60px);
    }
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data img {
    max-width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}
@media (max-width: 767px){
    .team .box .data img {
        max-width: calc(95% - 60px);
        transition: var(--main-transition);
        border-radius: 10px;
        padding-left: 50px
    }
}
.team .box:hover img {
    filter: grayscale(100%);
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.team .box .data .social a:hover i {
    color: var(--main-color);
    font-size: 50px;
}
.team .box .data .social a i {
    color: #777;
    transition: var(--main-transition);
}
.team .box .info {
    padding-left: 80px;
}
@media (max-width: 767px){
    .team .box .info {
        padding-left: 50px;
    }
}
.team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}
.team .box .info p {
    margin: 10px 0 25px;
}
.team .box:hover .info h3 {
    color: #777;
}
/* End Team */
/* Start Animation */
@keyframes up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    } 
    40%, 60% {
        transform: translateY(-15px);
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        left: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        border-radius: 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
    }
}
@keyframes move-x {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */
